@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  
  :root  {
    --background: 0 0% 95%;
    --foreground: 0 0% 10%;
    --card: 0 0% 91%;
    --card-foreground: 0 0% 15%;
    --popover: 0 0% 95%;
    --popover-foreground: 0 95% 10%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -38 10% 91%;
    --muted-foreground: 0 0% 40%;
    --accent: -38 10% 90%;
    --accent-foreground: 0 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 0 0% 91%;
    --border: 0 20% 82%;
    --input: 0 20% 50%;
    --ring: 0 0% 0%;
    --radius: 0.3rem;
  }
  .dark  {
    --background: 0 10% 10%;
    --foreground: 0 0% 91%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 91%;
    --popover: 0 10% 5%;
    --popover-foreground: 0 0% 91%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -38 10% 25%;
    --muted-foreground: 0 0% 65%;
    --accent: -38 10% 25%;
    --accent-foreground: 0 0% 91%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 0 0% 91%;
    --border: 0 20% 50%;
    --input: 0 20% 50%;
    --ring: 0 0% 0%;
    --radius: 0.3rem;
  }
  
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #000000;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}